	*{
  		padding: 0;
  		margin: 0;
  		box-sizing: border-box;
  	}
  	:root{
  		--fontNaturalSize:18px;
  		--White: hsl(0, 0%, 100%);
  		--LightgrayishvioletInp: hsl(270, 3%, 87%);
  		--DarkgrayishvioletNotUse: hsl(279, 6%, 55%);
  		--VerydarkvioletBtn: hsl(278, 68%, 11%);
  		--Lineargradient: linear-gradient(hsl(249, 99%, 64%), hsl(278, 94%, 30%));
  		--RedInpErrors: hsl(0, 100%, 66%);
  	}
 body{
          font-weight: 500;
          
  	}
  	
  	input[type=number]::-webkit-inner-spin-button {
  		-webkit-appearance: none;
  		
  		
  	}
  	
  	input[type=number] {
  		
  		-moz-appearance: textfield; appearance: textfield; 
  		
  	} 
  	
#bodySet{
  		display: flex;
  		position: relative;
  		height: 100vh;
  		align-items: center;
  	}
 #bodySet > img{
  		position: absolute ;
  		height: 100%;
		width: 35%;

  	}
  
  #form{
  	height: 80%;
  	position: relative;
  	align-items: center;
  	margin: 0 0 0 25%;
  	display: flex;  	
  	justify-content: space-around;
  	gap: 2rem;
  	width: 90%;
  }
  /* CARDS SIDE*/
  #form #cards{
  display: flex;
  	height: 90%;
  	width: 50%;
		gap: 1.4rem;				
		flex-direction: column;
  }
  
  /* PURPLE CARD*/
  #pupleCard{
  	position: relative;
 		width: 100%;
  	height: 100%;
 		right: 6rem;
 		
  }
  #pupleCard > img{
  	top: 0;
  	height: 100%;
 		width: 100%;
  position: absolute;
 
  	
  }
  #purpleCardContent{
  	position: relative;
  	padding: 1.5rem;
    top: 0;
    left: 0;
    
  }
  
  #purpleCardContent h3{
		display: flex;
		gap: 1rem;
  	justify-content: center;
  	margin-top: 4rem;
  	color: var(--White);
  }
  
 
  #purpleCardContent img{
  	height: 23%;
  }
  
  #purpleCardContent #purpleCardContentNameDate{
  	display: flex;
  	margin-top: 1rem;
  	justify-content: space-between;
  	font-size: 18px;
  	color: var(--White);

  }
  #purpleCardContent #purpleCardContentNameDate span{
      font-size: 1.3rem;
  }
  
  #purpleCardContent #purpleCardContentNameDate h2{
      font-size: 1.3rem;
  }
  /* GREY CARD */
  #greyCard{
  	
  	height: 100%;
  	position: relative;
  }
  
  #greyCard > img{
  	width: 100%;
  	height: 100%;
  	position: absolute;
  }
  
  #greyCard h2{
  	position: absolute;
  	margin: 6.8rem 0 0 18rem;
  	color: var(--White);
  }
  
  /* INPUT SECTION */
  #inpSection{
      display: flex;
      flex-direction: column;
      gap:2rem;
      align-items: center;
      width: 70%;
  }
  
  #inpSection label{
      display: flex;
      flex-direction: column;
      width: 100%;
      color: var(--VerydarkvioletBtn);
      font-size: .7rem;
      appearance: none;
  }
   #inpSection label input{
       height: 2.6rem;
       width: 90%;
       margin-top: 4px;
       /*border: 2px solid var(--LightgrayishvioletInp);*/
       border-radius: .3rem;
       padding: 0 0 0 1rem;
       outline: none;
       appearance: none;
   }
   /* ERROR MESSAGE */ 
   #inpSection label small{
   	color: var(--RedInpErrors);
   	
   }
  
   #datesinp{
       display: grid;
       grid-template-columns: 50% 50%;
   }
   
   #inpSection button{
       width: 90%;
       border: transparent;
       height:2.6rem ;
       background: var(--VerydarkvioletBtn);
       color: var(--White);
       font-weight: 500;
       border-radius: .3rem;
   }
   #datesinp #smallInput{
       margin: 0 0 0 .3rem;
   }
   #datesinp #smallInput div{
       display: flex;
       flex-direction: row;
   }
   
   #datesinp #cvc input{
       width: 80%;
   }
   #datesinp #smallInput div input{
       width: 37%;
       margin: 4px .4rem 0 0;
   }
   
   
 
   /* INPUT ERROR */
   .inpErr{
       border: 2px solid var(--RedInpErrors);
   }
   /* SUCCESS MESSAGE*/
   .success{
       border: 2px solid var(--VerydarkvioletBtn);
   }
  #completedCard{
  	position: absolute;               
  	top: 33%;  
  	left: 60%;
  	text-align: center;
  	background: var(--White);
  	border-radius: .3rem;
  	box-shadow: -5px -6px 3px rgba(0,0,0,.5);
    display: none;
  	width: 35%;
  }
  #completedCard img{
      margin-top: 1.3rem;
  }
  #completedCard h2{
      font-size: 2rem;
      font-weight: bold;
      color: var(--VerydarkvioletBtn);
      margin-top: 1rem;
  }
  
  #completedCard span{
      font-size: .7rem;
      color: var(--LightgrayishvioletInp);
  }
  
  #completedCard > button{
      width: 90%;
      height: 2.6rem;
      border: transparent;
      background: var(--VerydarkvioletBtn);
      color: var(--White);
      font-size: 1.3rem;
      font-weight: 500;
      border-radius: 0.3rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
  }
  @media screen and (max-width: 600px){
  	#bodySet{
  		background: url("./images/bg-main-mobile.png");
  		background-repeat: no-repeat;
  		background-size: 100% 30%;
  		height: 100%;
  	}
  	
  	#bodySet > img{
  		display: none;
  		
  	}
  	
  	#form{
 		display: inline;
  	margin: 0;
  	gap: 9rem;
  	
 		
 		height: 100vh;
 		width: 100%;
  	}
  	#form #cards{
  		width: 90%;
  		height: 40%;
 		position: relative;
  	}
  	
  	#pupleCard{
  		margin: 30% 0 0 0;
  		position: absolute;
  	  z-index: 3;
  		width: 70%;
  		height: 50%;
  	}
  	
  	#pupleCard #purpleCardContent{
  		padding: .5rem;
  	}
    #purpleCardContent img{
  	height: 25%;
  	position: absolute;
  }
  	#purpleCardContent h3{
  		margin-top: 5rem;
  		font-size: 1rem;
  	}
  	
  #purpleCardContent #purpleCardContentNameDate{
  	margin-top: .8rem;
  }
  	
  	#purpleCardContent	#purpleCardContentNameDate span{
  		font-size: .5rem;
  	}
  	#purpleCardContent	#purpleCardContentNameDate h2{
  		font-size: .5rem;
  	}
  	
  	#greyCard{
  		width: 70%;
  		height: 50%;
  		margin: 5% 0 0 30%;
  		position: absolute;
  	}
  	#greyCard h2{
  		font-size: 1rem;
  		margin:4.5rem 0 0 11rem;
  	}
  	
  	#inpSection{
			position: absolute;
  		height:100%;
  		width: 100%;
  	}
  	#inpSection label{
  		width: 90%;
  	}
  	#inpSection label input{
  		width: 100%;
  	}
  	
  	
  	#datesinp #smallInput{
  		align-items: center;
  		margin: 0 0 0 1.3rem;
  	}
  	#datesinp #cvc input{
  		width: 100%;
  	}
  	
  	#completedCard{
  		top: 40%;
  		left: 5% ;
  		width: 90%;
  	}
  }




